*{
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
    background-color: #00FFFF;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
h1{
    justify-content: center;
    width: 100%;
}